In [14]:
import pandas as pd

spam_data=pd.read_csv('spam_data.tsv', sep='\t', header=None)

counts=spam_data.sort_values(by=0,ascending=False)
counts.reset_index()

      index     0                                                  1
0      4102  spam  GSOH? Good with SPAM the ladies?U could b a ma...
1      3424  spam  Had your mobile 10 mths? Update to latest Oran...
2      3856  spam  Free msg: Single? Find a partner in your area!...
3      5012  spam  You have WON a guaranteed £1000 cash or a £200...
4      4436  spam  Don't b floppy... b snappy & happy! Only gay c...
...     ...   ...                                                ...
5567   2001   ham  But i'll b going 2 sch on mon. My sis need 2 t...
5568   2000   ham      LMAO where's your fish memory when I need it?
5569   1999   ham  Well, I have to leave for my class babe ... Yo...
5570   1998   ham  YEH I AM DEF UP4 SOMETHING SAT,JUST GOT PAYED2...
5571   5571   ham                         Rofl. Its true to its name

[5572 rows x 3 columns]